body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.container {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    padding-left: 50px;
}

.tabs {
    width: 610px !important;
}

.mapHolder {
    width: 800px;
    height: 600px;
    margin: 40px auto;
}

.mapHolder.hide {
    display: none;
}

.scatterplot {
    margin-top: 40px;
}

.progress {
    display: block !important;
    margin: 50px auto;
}

